﻿
@helper MostrarPrecio(decimal precio){
    if (precio == 0)
    {
        <span> Gratis! </span>
    }
    else
    {
        @string.Format("{0:C2}", precio)
    }
}

@helper ResaltarNombre(string nombre)
    {
       @: <span style="color: red"> @nombre </span> 
    }
