﻿@model SistemaRestaurante.BusinessEntity.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Producto</legend>

    <div class="display-label">IdProducto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdProducto)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Descripcion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">Imagen</div>
    <div class="display-field">
        <img src=@Model.Imagen style="width: 100px"/>
        @Html.DisplayFor(model => model.Imagen)
    </div>

    <div class="display-label">IdCategoria</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreCategoria)
    </div>

    <div class="display-label">Precio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { idProducto=Model.IdProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
